*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  min-block-size: 100vh;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-block-start: 16px;
}

.content__list {
  position: relative;
  overflow: hidden auto;
  block-size: 298px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  max-width: 200px;
  object-fit: contain;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald, serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  max-width: 200px;
  padding-block-end: 6px;
  overflow: hidden;
  color: #fff;
  font-family: Oswald, serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  max-height: 65px;
  overflow: hidden;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px; /* 90% */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}

.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 3px 10px 3px 0;
  opacity: 0.7;
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  align-self: center;
  width: 19px;
  height: 19px;
  margin-inline-end: 5px;
  border: 1px solid #fff;
}

input[type='checkbox']:checked + span::before {
  content: '';
  position: relative;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}

.search-form__submit-button {
  gap: 10px;
  width: 194px;
  padding: 5px;
}

.more-button {
  gap: 10px;
  width: 399px;
  padding: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox:active::before {
  content: '';
  position: relative;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox:focus {
  outline: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}
